<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>MyTube</display-name>
  <servlet>
    <servlet-name>pagina_principal</servlet-name>
    <servlet-class>PaginaPrincipal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagina_principal</servlet-name>
    <url-pattern>/paginaprincipal</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>videos</servlet-name>
    <servlet-class>Videos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videos</servlet-name>
    <url-pattern>/videos</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>video_list</servlet-name>
    <servlet-class>VideoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>video_list</servlet-name>
    <url-pattern>/video_list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>thumbs</servlet-name>
    <servlet-class>Thumbnails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thumbs</servlet-name>
    <url-pattern>/thumbs</url-pattern>
  </servlet-mapping>

 <security-constraint>
  <web-resource-collection>
        <web-resource-name>mytube</web-resource-name>
        <url-pattern>*</url-pattern>
        <auth-constraint>
          <role-name>USER</role-name>
        </auth-constraint>
  </web-resource-collection>
 </security-constraint>

   <!-- Default login configuration uses form-based authentication -->
   <login-config>
      <auth-method>BASIC</auth-method>
   </login-config>

 <security-role>
    <role-name>USER</role-name>
</security-role>

</web-app>


