header {
    margin-left: 3vw;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 250%;
}

h1#main-title  {
    color: lightblue;
    font-size: 300%;
}

div.flex-row  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-evenly;
}

a.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: space-evenly;
    align-items: flex-end;
}

h2 {
    color: white;
    font-size: 120%;
    margin-left: 1vh;
}

.miniature {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 1vh;
  }